<!-- Navigation hidden smartphone -->
	<div id="navigation">
		<div class="pos-f-t">
		  <nav class="navbar navbar-expand-lg navbar-light" id="menu" >
		  		<!-- logo de l'agence -->
				<a class="navbar-brand" href="#">
					<img src="{{ asset('bundles/gmfdevis/images/logo.png') }}" alt="logo de l'agence">
				</a>

				<!-- bouton pour menu responsive -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			    <span class="navbar-toggler-icon"></span>
  				</button>

  				<!-- Menu principal -->
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" >
					<ul class="navbar-nav text-center">
						<a class="nav-link" href="http://givemefive.artdevelopp.fr/"  target="_blank"> <i class="fas fa-home" style="font-size : 20px"></i> ACCUEIL </a> 
						<a class="nav-link active" href="{{ path('gmf_devis_home')}} " > APPLICATION </a>
						<span class="d-block d-sm-none">
							<a class="nav-link" href="http://givemefive.artdevelopp.fr/qui-sommes-nous/" target="_blank"> QUI SOMMES NOUS</a>
							<a class="nav-link" href="http://givemefive.artdevelopp.fr/nos-services/" target="_blank"> NOS SERVICES </a>
							<a class="nav-link" href="http://givemefive.artdevelopp.fr/réalisation/" target="_blank"> REALISATION </a>
							<a class="nav-link" href="http://givemefive.artdevelopp.fr/blog/" target="_blank"> BLOG </a>
						</span>
						<a class="nav-link" href="http://givemefive.artdevelopp.fr/contact/"  target="_blank"> CONTACT </a>
						
						<span class=" dropdown d-none d-sm-block"> 
					        <a class="nav-link" id="openMenu" href="#menuCollapse" role="button" data-toggle="collapse" aria-expanded="false" >
					          <span class="navbar-toggler-icon"></span> Menu
					        </a>
					    </span>
					</ul>
				</div>
			</nav>

			<!-- menu secondaire hidden smartphone-->
			<div class="collapse menu-collapse" id="menuCollapse">
				<a href="#" class="float-right" id="closeMenu"> <i class="fas fa-times" style="font-size: 25px;"></i> </a> <br>
			     <ul class="nav flex-column text-center">
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/"  target="_blank"> ACCUEIL </a>
		    		<a class="nav-link" href="{{ path('gmf_devis_home')}} "> APPLICATION </a>
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/qui-sommes-nous/"  target="_blank"> QUI SOMMES NOUS ? </a>
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/nos-services/"  target="_blank"> NOS SERVICES </a>
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/réalisation/"  target="_blank"> REALISATION </a>
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/blog/"  target="_blank"> BLOG </a>
		    		<a class="nav-link" href="http://givemefive.artdevelopp.fr/contact/"  target="_blank"> CONTACT </a>
			    </ul>
			</div>
		</div>
	</div> <br>