{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {% block title %} Application Give Me Five {% endblock %} </title>

	{% block stylesheets %}
	    {# On charge le CSS de bootstrap 4 depuis le site directement #}
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ asset('bundles/gmfdevis/css/main.css') }}" type="text/css" />

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	{% endblock %}

</head>
<body>

	<!-- Menu de la page -->
	{% block menu %}
	{% endblock %}

	<!-- Corps de la page -->
	{% block body %}
	{% endblock %}

	<!-- footer du site -->
	<div id="footer" class="jumbotron">
		<div class="row">
			<div class="col">
				<h3> Nous contacter </h3> <br>
				<p> <i class="fas fa-phone"></i> 09.23.48.87.00 </p> <br>
				<p> <i class="fas fa-envelope"></i> givemefive@gmail.com </p> <br>
				<p> <i class="fas fa-map-marker-alt"></i> 3 rue centre de marseille <br>
					130001, Marseille </p>
			</div>
			<div class="col">
				<h3> Compagnie </h3> <br>
				<p> A propos de nous </p> <br>
				<p> Blog </p> <br>
				<p> Licences et termes </p> <br>
			</div>
			<div class="col">
				<h3> Suivez nous 
					<span id="facebook"> <i class="fab fa-facebook-f"></i> </span>
					<sapn id="instagram"> <i class="fab fa-instagram"></i> </sapn>
					<span id="twitter"> <i class="fab fa-twitter"></i> </span>
					<span id="pinterest"> <i class="fab fa-pinterest"></i> </span>
				</h3>
			</div>
		</div> <br>

		<div class="row">
			<div class="col">
				<p class="text-left"> <a href="#"> ADMINISTRATION </a> </p>
			</div>
			<div class="col">
				<p class="text-right"> © 2018 give me five, Agence digitale </p>
			</div>
		</div>
	</div>

	{% block javascript %}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="http://code.jquery.com/jquery.js"></script>
	{% endblock %}

	<script type="text/javascript">
		$(function(){


		  $('#closeMenu').click(function(){            
		    $('#menuCollapse').toggle();
		    $('#menu').toggle();
		  });

		  $('#openMenu').click(function(){
		  	$('#menuCollapse').toggle();
		  	$('#menu').toggle();
		  })

		});
	</script>
</body>
</html>