/* Fichier Main.ccs
Style css pincipal du site*/

/* arriére plan de la page*/
body { background: url("../images/motif.png");
		font-family: 'Roboto', sans-serif; }

/* Navigation */
#navigation { background-color: #01c597; }

#navigation a {color: #2b30ae;}

/* Footer */
#footer { background-color:  #2b30ae; 
			color: white;
			margin-bottom: 0;}

#footer i {color: #01c597;
			font-size: 25px;
			margin-right: 20px;}

#footer a {color: white;}

/* Couleur des icones */
/* Poubelle */
.fa-trash-alt {color: red;}

/* Bouton demander un devis */
.a-devis {background-color: #01c597 ;
			 color: #2b30ae}
