/* Fichier Main.ccs
Style css pincipal du site*/

/* Taille des carrés, page d'accueil*/
.size-card {max-width: 320px; 
			height: 320px;}

/* Image dans carré page application */
#fidelite {background: url("../images/image.png") no-repeat; }

#reservation {background: url("../images/image.png") no-repeat;}

#vente {background: url("../images/image.png") no-repeat; }

#carte {background: url("../images/image.png") no-repeat; }

/* Navigation */
#navigation { background-color: #01c597; }

