/* Fichier css nos modules */

#title-page {color: #2b30ae;
			margin-top: 5%;
			margin-bottom: 5%;}
			
.price {color: red;}

.option {margin-top: 2%;}

#reduction {background-color: #01c597;
			margin-bottom: 0;}