/* Fichier order.css
Feuille de style pour le formulaire */

#title-page { color: #2b30ae;
				margin-top: 5%; }

#content-form { background-color: rgba(233, 234, 247, 0.8);
				padding-left: 20px;
				padding-right: 20px;}

.form-control {background-color: rgba(1, 197, 151, 0.5);}

.form-control::placeholder { color: #2b30ae; }

#reduction {background-color: rgba(1, 197, 151, 0.6);}

.red {color: red;}

[type="submit"] { background-color: #01c597;
					color: #2b30ae; }