{# Devis #}

<!DOCTYPE html>
<html>
<head>
	<title>Devis n°XXX - GIVE ME FIVE</title>

	<STYLE type="text/css">
	   .container {
		    width: 720px;
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
	 </STYLE>
</head>
<body>
	<div class="container">
		
		<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/logo-devis.png') }}" alt="logo de l'agence Give Me Five" />
		<p style="text-align: right"> DEVIS n°XXX </p>

		<div>
			<p> Date: JJ/MM/AAAA</p>
		</div>

		<div style="columns : 2;">
			<div>
				<p> Emetteur </p>
				<div>
					<div>
						<p> Votre contact : Prénom Nom </p>
						<p> Adresse : <br> 3 rue centre de marseille <br>
						13001, Marseille </p> 
						<p> Pays :  France</p>
						<p> Email : accueil@givemefive.artdevelopp.fr  </p>
					</div>
				</div>
			</div>
				

			<div>
				<p> Destinataire </p>

				<div>
					<p> Nom : Name(entreprise ou client) </p>
					<p> Adresse : <br>
						Adresse <br>
						City Zip_code </p> 
					<p> Email : art@e.fr</p>
				</div>

			</div>
		</div> <br>

		<div>
			<p style="text-align: center"> Modules choisis </p>
		
			<p style="text-align: right"> Modules : XX.XX€ </p>

			<p style="text-align: right"> Prix Total : XX € </p>
		</div>
	</div>

</body>
</html>