{# Devis #}

<!DOCTYPE html>
<html>
<head>
	<title>GIVE ME FIVE</title>
</head>
<body>
			<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/logo-devis.png') }}" alt="logo de l'agence Give Me Five" />
			
			<p> Merci pour votre demande de devis, il est vous est joint en piéce-jointe <br>
				Bonne journée, <br>
				Gerome Pellerin</p>

			<p> Agence GIVE ME FIVE -- 3 rue centre de marseille, Marseille (13001) - France - Email : accueil@givemefive.artdevelopp.fr </p>
</body>
</html>