{# Devis #}

<!DOCTYPE html>
<html>
<head>
	<title>GIVE ME FIVE</title>
</head>
<body>
			<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/gmfdevis/images/logo-devis.png') }}" alt="logo de l'agence Give Me Five" />
			
			<p> Merci pour votre demande de devis, vous pouvez le retrouver en fichier pdf </p>
</body>
</html>