{# src\GMF\DevisBundle\Resources\views\Devis\index.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">	

		<div class="row">
			<h5 class="text-center"> Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis. </h5>

			<img src="{{ asset('bundles/gmfdevis/images/video.png') }}" class="img-fluid rounded mx-auto d-block" alt="emplacement vidéo" />
		</div>


		<div class="row">
			<div class="col">
				<img src="{{ asset('bundles/gmfdevis/images/image.png') }}" class="img-fluid rounded float-left" alt="image de remplacement"/> 
			</div>
			<div class="col">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula, id aliquet quam tellus ac justo. Cras dapibus ornare nisl, quis suscipit ex rhoncus et. Fusce scelerisque ligula ac tortor rhoncus, eget mattis libero cursus. Nam facilisis libero eget odio mattis laoreet in et magna. Quisque egestas leo orci, vitae volutpat libero malesuada quis. Proin justo sapien, egestas sed turpis et, pellentesque fringilla est. Maecenas et scelerisque libero. Nam finibus metus ac lacinia commodo. Vivamus laoreet hendrerit purus finibus convallis. Vivamus aliquam sollicitudin hendrerit. <br>

				Nunc id finibus nulla. Duis sit amet erat sagittis, tristique ipsum eu, imperdiet erat. Nullam in arcu eu metus dignissim placerat in mollis metus. Nam at convallis metus. Aenean nisl metus, tempor et augue et, hendrerit maximus nibh. Proin nec congue ante, ac placerat justo. Phasellus tincidunt magna id lectus pharetra dapibus. Donec venenatis erat non mi molestie porta. Aenean sodales iaculis pretium. Suspendisse vehicula lacinia pellentesque. Etiam ac condimentum diam. Nullam eget cursus nulla, sit amet ullamcorper nibh. </p>
			</div>
		</div>

		<h5 class="text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula, id aliquet quam tellus ac justo. Cras dapibus ornare nisl, quis suscipit ex rhoncus et. 
		</h5>

		<div class="row">
			<div class="col-6 text-center"  style="background-color:blue;" >
				<div id="fidelite" style="text-align: center"> 
					<h5> FIDELITE CLIENTS </h5>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula </p>
					<button> en savoir plus </button> 
				</div>
			</div>

			<div class="col" style="background-color:red;">
				<div id="reservation" style="text-align: center">
					<h5> RESERVATION </h5>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula </p>
					<button> en savoir plus </button>
				</div>
			</div>
		</div> <br>

		<div class="row">
			<div class="col-6 text-center" style="background-color:green;" >
				<div id="vente" style="text-align: center"> 
					<h5> VENTE DE PRODUITS </h5>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula </p>
					<button> en savoir plus </button> 
				</div>
			</div>

			<div class="col" style="background-color:orange;">
				<div id="carte" style="text-align: center"> 
					<h5> CARTE INTERACTIVE </h5>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, tortor nec facilisis ullamcorper, nisi nisl posuere ligula </p>
					<button> en savoir plus </button> 
				</div>
			</div>
		</div>
	</div> <br>


{% endblock %}