{# src\GMF\DevisBundle\Resources\views\Devis\order.html.twig #}

{% extends "GMFDevisBundle::layout.html.twig" %}

{% block title %}
	Demander un devis - {{ parent() }}
{% endblock %}

{% block gmfdevis_body %}
	<div class="container">
		<h3 class="text-center"> Devis </h3>

		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque neque et tincidunt sodales. Praesent tempus ultrices pellentesque. In hac habitasse platea dictumst. Aenean sed orci vel enim blandit vestibulum. Nulla vel tortor ullamcorper, porttitor dui et, aliquet ligula. Nunc ut est a libero fermentum semper nec eget lorem. Nunc ac luctus ligula, in varius lorem. Nam fermentum congue tempor. Vivamus interdum justo rhoncus, interdum felis nec, elementum felis. Morbi hendrerit ante et sapien condimentum venenatis. </p>

		<div class="well">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}